* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
}

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 40px;
    border-bottom: .001px solid black;
    transition: all 0.3s;
}

header #botaoMenu {
cursor: pointer;
    width: 30px;
}

header a {
    text-decoration: none;
    color: black; 
    transition: color 0.3s;
}
.imglado{
    display: flex;
    gap: 3px;
}
.imglado img {
    width: 10%;
}

.topicos {
display: flex;
gap: 25px;
list-style: none;
font-size:105%;
}

.topicos a:hover {
    cursor: pointer;
    color: rgb(39, 151, 248); 
}


main {
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex: 1;
    gap: 3vw;
    text-align: center;
}

.introducao {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2colorido {
    background: linear-gradient(to right, #007bff, #4dff62);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 180%;
    font-weight: bold;
}

.apresentacao {
    height: 50vh;
}


.blocos-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 1vh;
    align-items: center;
    justify-items: center;
}

.blocos-home .bloco {
    height: auto;
    background-color: #8d8d8d;
    width: 40vh;
    height: 15vh;
    border-radius: 20px;
}

.blocos-home img {
    width: 20%;
}

.botao {
    margin-bottom: 4vh;
    display: flex;
    justify-content: center;
}
.botao button {
    background: linear-gradient(to right, #007bff, #4dff62);
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    border: none;
    transition: all 0.3s;
}
.botao button:hover{
    cursor: pointer;
    box-shadow: 0 6px 12px rgb(39, 151, 248);

}

#chatbot {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
width: 70%;
    gap: 2vh;
}

.pergunte  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.digitacao {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;
    margin: 10px;
}

.digitacao input {
    width: 100%;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 19px;
    outline: none;
    border-color: #289eff;
    border-radius: 10px;
}

.digitacao button {
    background-color: #0044ff;
        font-size: large;
        border: none;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
    color: #fafafa;
}

.digitacao button:hover {
    cursor: pointer;
    box-shadow: 0 6px 12px rgb(39, 151, 248);
}

.digitacao button:active {
    transform: scale(0.9);
}


footer {
    padding: 20px;
    color: white;
    background-color: #1a2a3a;
    display: flex;
    justify-content: space-around;
}

footer h3 {
    text-transform: uppercase;
    color: #00d4ff
}

.linksFast {
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    list-style: none;
    outline-style: none;
}

.linksFast a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}
.escondido{
    display: none;
}
.escondido.aberto{
    display: block;
}

.linksFast a:hover {
    color: #73bafd;
}
@media (max-width:600px) {
    header{
        flex-wrap: wrap;
        padding: 15px;
        gap: 8px;
    }
    .topicos{
         position: relative;
    }
}